.find-me-btn
{
    background-color: rgb(245, 6, 90);
}
.find-me-btn:hover
{
    background-color: rgb(201, 7, 75);
}

#marker-span
{
    padding: 20px;
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100vh;
    width: 20vw;
    background: #2f2d35;
    overflow-y: auto;
}
#marker-span > * > * {
    margin: 8px 0px;
    color: white;
}
#marker-span > section{
    margin-bottom: 30px;
}
#btns-section
{
    height: fit-content;
}
.map
{
    height: 100vh;
    width: 80vw;
}